<header>
    <a href="/"><img src="{{ "/assets/img/logo-new.png" | absolute_url }}" class="logo"></a>
    <ul class="nav">
        <li {% if page.url == "/" %} class="current"{% endif %}><a href="/">Home</a></li>
        {% for item in site.navigation %}
            {% assign class = nil %}
                {% if page.url contains item.url %}
                    {% assign class = 'current' %}
                {% endif %}
            <li class="{{ class }}">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</header>