$tablet: 700px;
$desktop: 900px;
$wide: 1100px;

$gutters: (
    'default': 20px,
    'tablet': 10%,
    'desktop': 15%,
    'wide': 20%
);

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, main {
    padding-left: map-get($gutters, 'default');
    padding-right: map-get($gutters, 'default');

    @media screen and (min-width: $tablet) {
        padding-left: map-get($gutters, 'tablet');
        padding-right: map-get($gutters, 'tablet');
    }

    @media screen and (min-width: $desktop) {
        padding-left: map-get($gutters, 'desktop');
        padding-right: map-get($gutters, 'desktop');
    }

    @media screen and (min-width: $wide) {
        padding-left: map-get($gutters, 'wide');
        padding-right: map-get($gutters, 'wide');
    }
}


body {
    background-color: #323131;
    font-family: 'Signika', georgia;
    color: #ffffff;
}

a {
    color: #ffe313;
}

a:hover {
    color: #fff2ae;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: auto;
    height: 100px;
    margin-top: -10px;
}

header {
    background-color: #252525;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 80px;

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-bottom: 50px;
    }
}

.nav {
    flex-grow: 1;
    align-self: center;

    @media screen and (min-width: $tablet) {
        margin-left: 20px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 40px;
    }
}

.nav li {
    display: inline-block;
    font-size: 18px;
    border-right: 3px solid #525252;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 20px;
        padding-right: 20px;
    }
}

.nav li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.nav li.current a {
    border-bottom: 3px solid #ffe313;
}

.nav li a:hover {
    border-bottom: 3px solid #525252;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 7px;
}


section {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

aside {
    flex-shrink: 0;
    margin-right: 20px;
    width: 100%;
    @media screen and (min-width: $tablet) {
        width: 200px;
    }
    @media screen and (min-width: $desktop) {
        width: 280px;
    }
}

article {
}

.next-event {
    border: 1px solid #ffffff;
    margin-bottom: 20px;

    &,
    img {
        width: 100%;
        display: block;
    }

    @media screen and (max-width: $tablet) {
        float: left;
        width: 160px;
        margin-right: 20px;
    }
}

small {
    font-size: 0.8rem;
    opacity: 0.8;
}

.caption {
    color: #999;
    font-weight: 100;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


h1 {
    font-size: 2rem;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

h1 span {
    display: block;
    font-size: 1.5rem;
    color: #eae4c0;
    margin-top: 5px;
}

h2 {
    color: #fff0ac;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-shadow: 3px 2px 4px #000000;
}

h3 {
    font-size: 1.6rem;
    border-bottom: 1px dotted #565537;
}

h4 {
    font-size: 1.4rem;
    color: #D9BCA3;
    border-bottom: 1px dotted #D9BCA3;
    margin-bottom: 0.3rem;
    padding-bottom: 0.3rem;
}

h5 {
    font-size: 1.0rem;
    margin-bottom: 0.3rem;
    color: rgba(203, 167, 173, 1);
    a {
        color: inherit;
    }
}

h6 {
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 5px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.otr {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff0ac;
    font-size: 1rem;
}

.cta {
    background-color: #683f80;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #47265a;
    border-radius: 3px;
    margin: 0 0 20px 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.37);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    overflow: hidden;
    line-height: 1.5;
    display: block;
}

.cta:hover {
    background-color: #47265a;
    color: #f8dbff;
}

.ampersand {
    color: #ffffff;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list li {
    padding-right: 20px;
    margin-bottom: 20px;
    width: 50%;
    @media screen and (min-width: $tablet) { width: 33%;}
    @media screen and (min-width: $desktop) { width: 25%;}
}

.event-list__cover {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 20px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.bulleted,
.post ul {
    margin: 0 0 1rem 0;
}

.bulleted li,
.post li {
    list-style-type: square;
    margin: 0 0 1rem 1rem;
    line-height: 1.5;
}

footer {
    color: #cccccc;
    font-size: 0.8rem;
    text-align: center;
    margin: 20px 0;
    border-top: 1px solid #666666;
    padding-top: 20px;
}

footer p {
    margin-bottom: 0;
}

.float-left {
    float: left;
    margin-right: 1rem;
}

.float-right {
    float: right;
    margin-left: 1rem;
}

.float-right,
.float-left {
    max-width: 200px;
    width: auto;
}

.clear-left {
    clear: left;
}
