---
layout: default
---

<section>
    <aside>
        {% if page.next.active %}
            {% include next_event.html next=page.next%}
        {% endif %}
        <div class="js-generic-next-event{% if page.next.active %} hidden{% endif %}">
            <img src="{{ "/assets/img/logo.png" | absolute_url }}" class="next-event" />
            <p class="teaser">Our next theme will be announced soon!</p>
            <a class="cta block" href="#" id="js-generic-cta">Next event: Coming soon!</a><br />
        </div>

        <a href="{{ "/assets/img/otr19.jpg" | absolute_url }}">
            <img src="{{ "/assets/img/otr19.jpg" | absolute_url }}" />
        </a>
        <p class="caption">A photo of the group from Off The Record #19, January 2018</p>
    </aside>

    <article>

        <h1>Off The Record <span>Birmingham Music Meetup</span></h1>

        <h2 id="what">What's a record club?</h2>
        <p><span class="otr">Off The Record</span> is a monthly event where a bunch of music-loving people get together
            to listen to a whole album in full &ndash; no distractions, no interruptions &ndash; and then talk about it
            afterwards. In a fast-paced world where we don't make time for music, it's about stopping and appreciating
            something new.</p>

        <h2 id="where" class="header">Where and when does it happen?</h2>
        <p><span class="otr">Off The Record</span> is hosted at <a href="http://www.cherryreds.com/">Cherry Reds</a> in
            <a href="https://www.google.co.uk/maps/place/Cherry+Red's+Cafe+Bar/@52.4770694,-1.901214,15z/data=!4m2!3m1!1s0x0:0x58d505a04a9abddd">central
                Birmingham</a>. It's an evening event, running from 7pm-9.30pm or so, with 10-20 people attending. It's
            free – if you like music and food/drinks, you are super welcome.</p>

        <h2 id="suggest" class="header">Got a record to suggest?</h2>
        <p>Cool &ndash; we have <a href="/guidelines">some guidelines on hosting a playback / discussion</a> below. Have
            a read and you'll eventually be able to submit your record suggestion where people can vote for it for an
            upcoming <span class="otr">Off The Record</span> session. Or if you really can't wait, <a
                    href="mailto:matt@mattandrews.info">email Matt</a> with your nominations.</p>

        <h2>Can I follow you on social media?!</h2>
        <p>Go on then. Give us a follow on <a href="https://www.facebook.com/OffTheRecordBHM/">Facebook</a> and <a
                href="https://twitter.com/OffTheRecordBHM">Twitter</a>.</p>

        <h2>Okay, I'm convinced, what next?</h2>
        {% if page.next.active %}
            <p>Great. <a href="{{ page.next.link }}">Sign up to attend here</a>!</p>
        {% else %}
            <p>Great! Keep your eyes peeled for our next event &ndash; it'll be announced shortly.</p>
        {% endif %}

    </article>
</section>

<section>
    <article>
        <h2 id="past">Past events <small>{{ site.posts | size }} total events</small></h2>

        <ul class="event-list">
            {% for post in site.posts %}
                <li>
                    <div class="event-list__cover">
                        {% if post.score %}
                            <span class="event-list__score">{{ post.score }}%</span>
                        {% endif %}
                        <a href="{{ post.url | relative_url }}">
                            {% if post.multi_record %}
                                {% for r in post.records %}
                                    {% if forloop.first %}
                                        <img src="{{ r.cover_image | absolute_url }}" />
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img src="{{ post.cover_image | absolute_url }}" />
                            {% endif %}
                        </a>
                    </div>
                    <h5>#{{ post.number }}: <a href="{{ post.url | relative_url }}">{{ post.title | escape
                    }}</a></h5>
                    {% if post.artist_name %}
                        <h6>{% include record_title.html record=post %}</h6>
                    {% endif %}
                    <small>{{ post.date | date_to_string }} &bull; Host: <strong>{{ post.host }}</strong></small>
                </li>
            {% endfor %}
        </ul>
    </article>
</section>

<script>
    let dateIsBeforeToday = date => new Date(date.toDateString()) < new Date(new Date().toDateString());
    let $nextEvent = document.querySelector('.js-next-event');
    let $genericNextEvent = document.querySelector('.js-generic-next-event');
    if ($nextEvent) {
        let nextDateStr = $nextEvent.getAttribute('data-event-date');
        let nextDate = new Date(nextDateStr);
        if (dateIsBeforeToday(nextDate)) {
            $nextEvent.style.display = 'none';
            $genericNextEvent.classList.remove('hidden');
        }
    }
</script>