---
layout: default
---
<div class="wrapper">
    <h2>Event #{{ page.number }}: {{ page.title }} &bull; {{ page.date | date_to_string }}</h2>
    <h3 class="record-list">
        {% if page.multi_record %}
            <strong>Records:</strong>
        {% else %}
            <strong>Record:</strong>
        {% endif %}
        {% include record_title.html record=page %}
    </h3>

    <aside>
        {% if page.multi_record %}
            {% for r in page.records %}
                {% include cover_art.html record=r %}
            {% endfor %}
        {% else %}
        {% include cover_art.html record=page %}
        {% endif %}
    </aside>
    <article class="post">
        {% if page.thumbnail %}
            {% if page.photo %}<a href="{{ page.photo | absolute_url }}">{% endif %}
                <img src="{{ page.thumbnail | absolute_url }}" width="180" class="float-right" />
            {% if page.photo %}</a>{% endif %}
        {% endif %}

        {{ content }}
    </article>
</div>
