---
layout: default
---
<h1>Event #{{ page.number }}: {{ page.title }} <span>{{ page.date | date_to_string }}</span></h1>
<h2 class="record-list">{% include record_title.html record=page %}</h2>

<section>
    <aside>
        {% if page.multi_record %}
            {% for r in page.records %}
                {% include cover_art.html record=r %}
            {% endfor %}
        {% else %}
        {% include cover_art.html record=page %}
        {% endif %}
    </aside>
    <article class="post">
        {% if page.thumbnail %}
            {% if page.photo %}<a href="{{ page.photo | absolute_url }}">{% endif %}
                <img src="{{ page.thumbnail | absolute_url }}" width="180" class="float-right" />
            {% if page.photo %}</a>{% endif %}
        {% endif %}

        {{ content }}
    </article>
</section>